@using ecom.hsu.dtos.View;
<script src="~/Scripts/price-range.js"></script>
@if (ViewBag.DeviceType == "smartphone")
{
    <div class="btn-show-filter-mobile" ng-click="ShowFiilter()">
        <svg class="search-filter" viewBox="0 0 15 15">
            <g>
                <polyline fill="none" points="5.5 13.2 5.5 5.8 1.5 1.2 13.5 1.2 9.5 5.8 9.5 10.2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polyline>
            </g>
        </svg>
    </div>

    <div class="filter-form" ng-show="FilterShow">
        <div class="filter-sex-title">GIỚI TÍNH<span class="font-13"> (chọn NỮ hoặc NAM)</span></div>

        <div class="filter-sex-body">
            <div class="filter-sex-content">
                <div class="filter-sex-item filter-sex-item-active" data-id="nu">
                    <h4 class="filter-sex-name">NỮ</h4>
                </div>
                <div class="filter-sex-item" data-id="nam">
                    <h4 class="filter-sex-name">NAM</h4>
                </div>
            </div>
        </div>

        <div class="filter-price-title">Khoảng giá (đ)</div>

        <div class="filter-price-form">
            <div class="row">
                <div class="width-100">
                    <div id="slider-range"></div>
                </div>
            </div>
            <div class="row slider-labels position-relative">
                <div class="position-absolute left">
                    <span>Từ :</span> <span id="slider-range-value1"></span>
                </div>
                <div class="position-absolute right">
                    <span>Đến :</span> <span id="slider-range-value2"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <input type="hidden" name="min-value" value="">
                        <input type="hidden" name="max-value" value="">
                    </form>
                </div>
            </div>
        </div>
        @if (ViewBag.BrandsRelate != null)
        {
            <div class="filter-brand-title">THƯƠNG HIỆU<span class="font-13"> (Nhấp để chọn)</span></div>

            <div class="filter-brand-body">
                <div class="filter-brand-content">

                    @foreach (var item in (List<Brands>)ViewBag.BrandsRelate)
                    {
                        <div class="filter-brand-item">
                            <img src="@item.logo_icon" class="filter-brand-img" data-id="@item.name_short">
                        </div>
                    }
                </div>
            </div>
        }

        <div class="filter-btn-form">
            <button class="filter-btn-apply" ng-click="ApplyFilter()">ÁP DỤNG</button>
        </div>

        <div class="filter-btn-form">
            <button class="filter-btn-comeback" ng-click="CancelFilter()">QUAY LẠI</button>
        </div>

    </div>
}
else
{
    <div class="filter-tag-desktop">
        <div class="filter-desktop-btn">BỘ LỌC</div>
        <div class="filter-desktop-body">
            <div class="filter-sex-name-des">GIỚI TÍNH</div>
            <div class="flex">
                <div class="filter-sex-item filter-sex-item-des filter-sex-item-active" data-id="nu">NỮ</div>
                <div class="filter-sex-item filter-sex-item-des" data-id="nam">NAM</div>
            </div>
            <div class="filter-price-name-des">KHOẢNG GIÁ</div>
            <div class="filter-price-form filter-price-form-des">
                <div class="row">
                    <div class="width-100">
                        <div id="slider-range"></div>
                    </div>
                </div>
                <div class="row slider-labels position-relative">
                    <div class="position-absolute left">
                        <span>Từ :</span> <span id="slider-range-value1"></span>
                    </div>
                    <div class="position-absolute right">
                        <span>Đến :</span> <span id="slider-range-value2"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <input type="hidden" name="min-value" value="">
                            <input type="hidden" name="max-value" value="">
                        </form>
                    </div>
                </div>
            </div>


            @if (ViewBag.BrandsRelate != null)
            {
                <div class="filter-brand-name-des">THƯƠNG HIỆU</div>

                <div class="flex">
                    @foreach (var item in (List<Brands>)ViewBag.BrandsRelate)
                    {
                        <div class="filter-brand-item-des">
                            <img src="@item.logo_icon" class="filter-brand-img" data-id="@item.name_short">
                        </div>
                    }
                </div>

            }

            <div class="filter-btn-form width-100">
                <button class="filter-btn-apply filter-btn-apply-des" ng-click="ApplyFilter()">ÁP DỤNG</button>
            </div>
        </div>
    </div>
}

