<footer>

    <div>
        <section class="whitesmoke">
            <div class="container">
                <div class="row mar-top-20" style="background: #d6d6d6; height: 60px; color: white; text-align: center;">
                    <img src="~/Images/home/logo.png" style="height: 100%; padding: 10px;" />
                </div>
                <div class="row" style="background: #d6d6d6; height: 60px; color: #777777; text-align: center; display: grid;">
                    <span>Mọi ý kiến đóng góp xin gửi về <br> aaaaa@gmail.com</span>
                </div>
            </div>

        </section>
    </div>

</footer>