<header id="header" ng-controller="HeaderController">
    <div class="header-middle@(ViewBag.DeviceType == "smartphone" ? "-mobile" : "") background">
        <div class="container">
            <div class="row">

                @if (ViewBag.DeviceType == "smartphone")
                {
                    <div class="search_box">
                        @*<img src="~/images/home/logo.png" alt="" />*@

                        @if (@ViewBag.BackLink != null)
                        {
                            <a href="@ViewBag.BackLink">
                                <button class="header-btn-back">
                                    <i class="fa fa-angle-left fa-back fa-back"></i>
                                </button>
                            </a>
                        }

                        <input ng-model="keyword" ng-change="Search_By_Keyword()" id="search_in" autocomplete="off" type="text" placeholder="@ViewBag.SearchPlaceholder" />
                        <img src="~/Images/home/searchicon.png" class="header-search-imgage" />

                    </div>
                    <div ng-show="SearchData" class="header-search-form">
                        <a ng-repeat="item in SearchData" href="/tim-kiem?keyword={{item.name}}" class="pad-10">{{item.name}}</a>
                        <a ng-show="SearchData.length < 1" class="pad-10"><i>Không tìm thấy kết quả với "{{keyword}}"</i></a>
                    </div>
                    <div ng-show="SearchData" class="header-hidden-backgroud"></div>
                }
                else
                {
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <div class="logo pull-left">
                                <a href="/"><img src="~/images/home/logo.png" alt="storemy" /></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="search_box pad-0">
                                <input class="border-rad-0 width-100" ng-model="keyword" ng-change="Search_By_Keyword()" id="search_in" autocomplete="off" type="text" placeholder="@ViewBag.SearchPlaceholder" />
                                <div class="header-search-form-des" ng-show="SearchData">
                                    <a class="search_item pad-10" ng-repeat="item in SearchData" href="/tim-kiem?keyword={{item.name}}">{{item.name}}</a>
                                    <a class="pad-10" ng-show="SearchData.length < 1"><i>Không tìm thấy kết quả với "{{keyword}}"</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 pad-0">
                            <button class="header-search-icon-des"><img src="~/Images/home/searchicon.png" /></button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</header>