.object-select {
    border: 1px solid #F7F7F0;
    width: 30%;
    height: 45px;
    float: left;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    background: #dcdcdc;
    cursor: pointer;
}

.object-select-chil {
    border: 1px solid #F7F7F0;
    width: 40%;
    height: 45px;
    float: left;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    background: #dcdcdc;
    cursor: pointer;
}

.object-select-active {
    background: #000000;
    color: white;
}


