
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="CategoryDetailController">
    @if (ViewBag.DeviceType == "smartphone")
    {
        <section class="whitesmoke">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 padding-right no-pad-mar bg-white mar-top-20">
                        <div class="category-tab">
                            <div class="col-sm-12 no-pad-mar">
                                <ul class="nav nav-tabs nav-border">
                                    <li id="test" ng-click="get('all')" class="active"><a data-toggle="tab">tất cả</a></li>
                                    <li ng-click="get('new')"><a data-toggle="tab">mới nhất</a></li>
                                    <li ng-click="get('sale')"><a data-toggle="tab">giá tốt</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="discount">
                                    <div ng-repeat="item in CateDetailProducts">
                                        <a href="{{item.ecom_brand_id}}">
                                            <div class="product-body-mobile">
                                                <div class="product-content-moible">
                                                    <div class="border-bottom text-center">
                                                        <img class="width-100" ng-src="{{item.logo_url}}" />
                                                    </div>
                                                    <img class="product-image-home" ng-src="{{item.image_url}}" />
                                                    <div class="product-name">
                                                        <a class="text-black">{{item.name}}</a>
                                                    </div>
                                                    <div class="product-info-body">
                                                        <span class="sale-price-mobile">
                                                            {{item.sale_price | currency : "" : 0}}<span class="font-13">đ</span>
                                                        </span>
                                                        <del ng-show="item.retail_price > item.sale_price" class="retail-price-mobile">{{item.retail_price | currency : "" : 0}}đ</del>
                                                        <div ng-show="item.retail_price > item.sale_price" class="percent-discount">-{{item.percent}}%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <partial name="_Filter" />
    }
    else
    {
        <section class="whitesmoke">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 padding-right tag-header">
                        <div class="category-tab">
                            <div class="col-sm-12 no-pad-mar">
                                <partial name="_Filter" />
                                <ul class="nav nav-tabs nav-border">
                                    <li id="test" ng-click="get('all')" class="active"><a data-toggle="tab">tất cả sản phẩm</a></li>
                                    <li ng-click="get('new')"><a data-toggle="tab">sản phẩm mới</a></li>
                                    <li ng-click="get('sale')"><a data-toggle="tab">giá tốt nhất</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="discount">
                                    <div ng-repeat="item in CateDetailProducts">
                                        <a href="{{item.ecom_brand_id}}">
                                            <div class="col-sm-3 pointer left">
                                                <div class="product-comtent-desktop">
                                                    <div class="border-bottom text-center">
                                                        <img ng-src="{{item.logo_url}}" />
                                                    </div>
                                                    <img class="product-image-desktop" ng-src="{{item.image_url}}" />
                                                    <div class="product-name"><a class="text-black">{{item.name}}</a></div>
                                                    <div class="product-info-body">
                                                        <span class="sale-price">
                                                            {{item.sale_price | currency : "" : 0}}<span class="font-13">đ</span>
                                                        </span>
                                                        <del ng-show="item.retail_price > item.sale_price" class="retail-price">{{item.retail_price | currency : "" : 0}}đ</del>
                                                        <div ng-show="item.retail_price > item.sale_price" class="percent-discount">-{{item.percent}}%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</div>

